.header-container{
    background-color: black;
    height:150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.header-logo{
    height: 5px;
    width:5px;
}
.header-img{
    height: 100px;
    width:100px;
}
.name{
    color: aliceblue;
    font: 3em sans-sarif;
}
.name1{
    color:red;
    
}